body {
	box-sizing: border-box;
	background-image: url("../images/weather.png");

}


.box {
	text-align: center;
	/*creating gab at top of page*/
	margin-top: 2%;

}

.input-group {
	width: 100%;
	margin-bottom: 2%;

}

.test {
	overflow: scroll;
    white-space: nowrap;
}


